html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Cascadia Mono", Consolas, Menlo, Monaco, monospace;
}
